/* App.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  position: relative; /* Position the bottom-left-content relative to main-content */
  display: flex;
  flex-direction: column;
}

.top-middle-content {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title {
  margin-top: 0;
}

.bottom-left-content {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}
